<%console.log("index.ejs is running...");%>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<title></title>
</head>
<body>
	<h1>Available Pokemon</h1>
	<style type="text/css">
		body {
			color: orange;
			background-color: steelblue;
			font-family: 'Montserrat', sans-serif;
		}
	</style>

	<ul>
	<% for (var i = 0; i < pokemonIndex.length; i++) { %>
		<h1><li><a href="<%= i %>"><%=pokemonIndex[i].name%></a></li></h1>
	<% } %>
	</ul>

</body>
</html>


























