<%console.log("show.ejs is running...");%>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<title></title>
</head>
<body>
	<h1>Gotta Catch 'Em All</h1>
	<a href="./">Back</a>
	<h2><%= pokemon.name %></h2>
	<img src="<%= pokemon.img %>">
	<style type="text/css">
		body {
			color: orange;
			background-color: steelblue;
			font-family: 'Montserrat', sans-serif;
		}
	</style>


</body>
</html>




























